<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find the Sum</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyWGpD5U/E5DR/A/GrQj5itN4PrOaZHf" crossorigin="anonymous">
    <style>
        #scanoutput{
            min-height:200px;
            height:
        }
    </style>
</head>
<body>

    <center>
        <div>
            <form class='form-group'>
                <h3>Cyber Port Scanning</h3>
                Scan your system for any open ports here.
                <input placeholder = 'Address url' id = 'addressurl' class='form-control w-50 m-3 border-success' type = 'text'>
                <div class='form-control w-50 m-3 border-success' id='scanoutput'>
                    <b>Scan Output:<span id='scanning'></span></b>
                    <ul type='none' id='outcome'></ol>
                </div>
                <button id = 'scanbutton' class='btn btn-primary'>Scan</button>
            </form>
        </div>
    </center>

    <script>
        document.getElementById('scanbutton').addEventListener('click', function(event) {
            event.preventDefault(); 
            alert("Scanning"); 
            document.getElementById('scanning').innerText = 'Scanning...';
            fetch('/scantheaddress', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ address: document.getElementById('addressurl').value })
            })
            .then(response => response.json()) // Assuming the response is JSON
            .then(data => {
                const output = Object.values(data)
                    .map(status => `${status}`)
                    .join('');
                document.getElementById('outcome').innerHTML = `${output}`;
                document.getElementById('scanning').innerText = '';
                document.getElementById('scanning').innerText = 'Scanning Completed.';
            })
            .catch(error => {
                alert("Error scanning");
                console.error(error);
            });
        });
    </script>
    
    
    
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-aMqHLzWoo5rM6fOT/V8I4v1oOW6Zb6j5t2By5Q9VIqcOXIoFxGEx3nGdaMAzzyHf" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyWGpD5U/E5DR/A/GrQj5itN4PrOaZHf" crossorigin="anonymous"></script>
</body>
</html>
